
body {
    background-color: rgb(170, 255, 255);
}

img {
    max-width: 100%;
    height: auto;
}

a:link {
    text-decoration: none;
  }

#hoved {
    width: 60%;                /* bredde: 60 % av vinduet */
    margin: 100px auto;        /* 100 px over elementet, auto midtstiller det */
    padding: 40px;             /* luft mellom kantlinjene og innholdet */
    background-color: white;   /* hvit bakgrunnsfarge */
    border: 1px solid #cccccc; /* grå kantlinje */
}

#link {
    width: 60%;                /* bredde: 60 % av vinduet */
    margin: 100px auto;        /* 100 px over elementet, auto midtstiller det */
    padding: 10px;  
    padding-left: 40px;  
    padding-right: 40px;         /* luft mellom kantlinjene og innholdet */
    background-color: white;   /* hvit bakgrunnsfarge */
    border: 1px solid #cccccc;
}

.senterd {
    margin: auto; 
    text-align: center;
}

.body-2 {
    background-color: rgb(249, 211, 135);
}

.body-3 {
    background-color: rgb(240, 160, 204);
}

